* {
  box-sizing: border-box;
  cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur116.cur), auto !important;
}

body {
  background-image: url("https://media.giphy.com/media/QZhjFvKqW5DWqbXKaS/giphy.gif");
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-color: #C695D5;
  /*C2E0FF azulito, C695D5 lavanda rosa*/
  width: 80%;
  /* gatopardo*/
  margin-right: auto;
  margin-left: auto;
  /* perro puto*/
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Computer Modern Sans";
  cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur116.cur), auto !important;
}

header {
  font-family: "Computer Modern Serif";
  border-color: grey;
  border-style: solid;
  background-color: hotpink;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

.titulo {
  cursor: pointer;
}

aside {
  float: left;
  width: 30%;
  background: pink;
  padding: 20px;
}

article {
  border-left-color: grey;
  border-left-style: solid;
  border-right-color: grey;
  border-right-style: solid;
  float: left;
  padding: 10px;
  width: 100%;
  background-color: #74C0CC;
  text-align: center;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  border-left-color: grey;
  border-left-style: solid;
  border-right-color: grey;
  border-right-style: solid;
  border-bottom-color: grey;
  border-bottom-style: solid;
  background-color: #74C0CC;
  padding: 20px;
  text-align: center;
  color: grey;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background-color: rgb(51, 16, 16);
}

li {
  float: left;
  background-color: rgba(0, 0, 0, 0.05);
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(190, 56, 179);
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* los que están en español referentes al grid son de "animal.html" */
.columna {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.columna img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.fila {
  content: "";
  border-color: grey;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* los que están en diminutivo son de "dados.html */
.filita {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  border-style: solid;
  border-color: grey;
  border-top-style: none;
}

.columnita {
  -ms-flex: 33%;
  /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
  background-color: pink;
}

.columnita img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  /*cursor: url(http://cur.cursors-4u.net/nature/nat-10/nat977.gif), auto !important;*/
}

.column {
  border-color: gray;
  border-style: solid;
  float: left;
  padding: 10px;
  height: auto;
}

.left {
  width: 0%;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  overflow: scroll;
}

.right {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.10);
  text-align: center;
  overflow: scroll;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.button {
  background-color: papayawhip;
  border: grey;
  border-style: solid;
  color: black;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto !important;
}

.boton-pags {
  background-color: hotpink;
  /* Green */
  border-color: grey;
  border-style: solid;
  color: black;
  padding: 10px 32px;
  text-align: center;
  margin-left: 88px;
  margin-right: 88px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-size: 14px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.letras {
  background-color: papayawhip;
  border: grey;
  border-style: solid;
  color: black;
  padding: 10px 10px;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

.letritas {
  background-color: papayawhip;
  border: grey;
  border-style: solid;
  color: black;
  padding: 10px 10px;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.container img {
  width: 100%;
}

.container {
  width: 60%;
  background: papayawhip;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .columna {
    flex: 50%;
    max-width: 50%;
  }

  .columnita {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  body {
    background-image: none;
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    flex: 100%;
    max-width: 100%;
  }

  .columnita {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .letritas {
    width: 100%;
  }

  .menu {
    font-size: 2vw;
  }
}